/* You can add global styles to this file, and also import other style files */

$body-background-color: #4C4E52;
$nav-background-color: #2D3033;

$footer-background-color: #000000;

*{
  margin:0;
  box-sizing:border-box;
}

body{
  background-color: #2D3033;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

p{
  color: whitesmoke;
}
