<!DOCTYPE html>
<app-banner></app-banner>
<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ben Correll - Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <section style="background-color: #2D3033">
    <div id="content">
      <!-- Photo by Leon Macapagal from Pexels: -->
      <!-- https://www.pexels.com/photo/boat-on-water-near-city-buildings-at-night-6622896/ -->
    </div>
  </section>
</body>
</html>
