
#page-background {position:fixed; top:0; left:0; width:100%; height:100%; object-fit: fill;}
#content {position:relative; z-index:1; padding:10px;}

.image-banner{
  object-fit: fill;
}

#content {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/Chicago-River.jpg");
  background-size: 100%;
}
